<h1>{{@model.brand}} | {{@model.model}}</h1>

<ul>
  {{#each @model.colours as |colour|}}
    <li>{{colour.name}}</li>
  {{else}}
    <li class="highlight">BUG! You should see the associated colours here.</li>
  {{/each}}
</ul>

<LinkTo @route="cars">Back</LinkTo>